.instruction {
  color: #fff;
  padding: 0px 0px 0px 250px;
  text-align: center;
  transition: 0.5s;
  font-size: 14px;
}

.highlighName {
  color: #e96e94;
  font-size: 110%;
}

.instruction.light {
  color: #9dafb4;
}

.parent {
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 90vh;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main.dark {
  background-image: url("../../../public/main.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main.light {
  background-image: url("../../../public/main1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  .instruction {
    padding: 50px 0px 0 250px;

    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .instruction {
    color: #fff;
    padding: 0px;
    text-align: center;
    transition: 0.5s;
    font-size: 14px;
  }

  .main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
