#chart {
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}

.dark #chart {
  background-color: transparent;
  transition: 0.5s;
  align-items: center;
}

.light #chart {
  background-color: transparent;
    transition: 0.5s;
  align-items: center;
}

.textShedule {
  color: #9dafb4;
  text-align: center;
}

.apexcharts-legend {
display: none!important;
}
