.header {
  position: relative;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  color: #455e63;
  transition: 0.5s;
}

.header.light {
  transition: 0.5s;
}

.header.dark {
  color: #fff;
  transition: 0.5s;
}

.modalText {
  text-align: center;
}
.modalText.dark {
  color: #455e63;
}

.modalText.light {
  color: #455e63;
}

.headerLogoletter {
  color: #e96e94;
  font-size: 110%;
  cursor: pointer;
  text-transform: capitalize;
}

.lockPassword {
  cursor: pointer;
  position: relative;
  left: 150px;
  bottom: 40px;
  padding: 5px;
  width: 40px;
  border: none;
  background-color: none;
  color: #455e63;
  z-index: 20000;
}

.buttonCLose {
  background-color: #9ddd5e !important;
  color: #455e63 !important;
}

.textModal {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.buttonTheme {
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
  border: none;
  font-size: 24px;
}

.buttonTheme.dark {
  background-color: #0e272e;
  color: #5ec7dd;
  transition: 0.5s;
  padding-right: 50px;
}

.buttonTheme.light {
  left: 20px;
  padding-left: 50px;
  background-color: #edf4f6;
  transition: 0.5s;
  color: #5ec7dd;
}

.loginMessage {
  font-size: 240px;
  font-weight: bold;
  color: green;
}

.buttonCabinet {
  transition: 0.5s;
  position: absolute;
  left: 2000px;
}

.buttonCab {
  transition: 0.5s;
  border: none;
  color: #9dafba;
  font-size: 24px;
  background-color: #edf4f6;
}

.buttonCab.dark {
  color: #fff;
  background-color: #0e272e;
}

.logIn {
  color: #9dafb4;
  cursor: pointer;
  border: none;
  font-size: 24px;
  transition: 0.5s;
  background-color: #edf4f6;
}

.logIn.dark {
  background-color: #0e272e;
  color: #fff;
}

.logIn :hover,
.SignUp:hover,
.buttonCab:hover {
  color: #5ec7dd;
}

.inputContainer {
  display: inline-block;
  position: relative;
}

.headerLogo {
  cursor: pointer;
}

.searchContainer {
  position: static;
  right: 300px;
}

.searchInput {
  font-size: 18px;
  left: 10px;
  transition: 0.5s;
  padding: 10px 30px;
  margin: 25px 0 20px 0;
  background-color: #fff;
  color: #9dafb4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.searchInput:focus {
  outline: none;
  border: 1px solid #5ec7dd;
}

.searchInput:hover {
  border: 1px solid #5ec7dd;
}

.header.dark .searchInput {
  background-color: #1b414c;
}

.logIn :active,
.SignUp:active,
.buttonCab:active,
.searchButton:active {
  transform: translate(0px, 3px);
}

.searchButton {
  position: absolute;
  top: 27px;
  right: 0;
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #9dafb4;
  font-size: 20px;
}

.searchButton:hover {
  color: #5ec7dd;
}

.searchButton:active {
  color: #5ec7dd;
}

.searchIcon {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
}

.SignUp {
  position: absolute;
  cursor: pointer;
  border: none;
  font-size: 23px;
  transition: 0.5s;
  background-size: 200% auto;
  position: absolute;
  left: 1250px;
  color: #9dafb4;
}

@media (max-width: 700px) {

  .buttonTheme {
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 50px;
    cursor: pointer;
    border: none;
    font-size: 20px;
  }

  .buttonTheme.dark {
    box-shadow: none;
    background-color: #0e272e;
    color: #5ec7dd;
    transition: 0.5s;
    padding-right: 30px;
  }

  .buttonTheme.light {
    padding-left: 30px;
    box-shadow: none;
    background-color: #edf4f6;
    transition: 0.5s;
    color: #5ec7dd;
  }

  .headerLogoletter {
    color: #e96e94;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
  }
}
