
/* .mainField {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  
} */
#chart {


  background-color: #fff;
  
      transition: 0.5s;
   
  
      border-radius: 20px;
      font-size: 20px;
  
    }
    
    .mainField.dark #chart {
      background-color: #1b414c;
     
    }
  
  
  .mainField.dark .apexcharts-legend-text {
    color:#fff !important;
  }
  
  
  
  
  .mainField #chart {

  width:350px;
  margin: 0 0 0 0;
bottom: 70px;
position: relative;
left:500px;



  }
  
  
  
  .textShedule{
    color:  #9DAFB4;
  text-align: center;
  
  
  
  }

  @media (max-width: 2200px) {
  
    .mainField #chart {
      width:350px;
      margin: 0 0 0 0;
    bottom: 70px;
    position: relative;
    left:300px;
      }
      
  
  
  }
  


  @media (max-width: 1650px) {
  
    .mainField #chart {
      width:350px;
      margin: 0 0 0 0;
    bottom: 70px;
    position: relative;
    left:200px;
      }
      
      
  
  
  }

  @media (max-width: 1450px) {
  
    .mainField #chart {
   
    left:50px;
      }
      
      
  
  
  }

  @media (max-width: 1350px) {
  
    .mainField #chart {
   
    left:30px;
      }
      
      
  
  
  }

  @media (max-width: 1350px) {
  
    .mainField #chart {
   top:650px;
    left:-650px;
      }
      
   body {
    overflow-y: scroll;
   }
  
  
  }

  @media (max-width: 900px) {
  
    .mainField #chart {

    left:-500px;
      }
 
  
  }


  @media (max-width: 820px) {
  
    .mainField #chart {

    left:-480px;
      }
 
  
  }



  @media (max-width: 720px) {
  
    .mainField #chart {

    left:-465px;
      }
 
  
  }




  @media (max-width: 600px) {
  
    .mainField #chart {
  
      top:1000px;
  
 
      }
      
  
  
  }
  
  @media (max-width: 400px) {
 
    .mainField #chart {
      top:1140px;
      margin:  0 auto;
      width:360px;
      left:5px;
      height: 350px;
 
      
      }
      .mainField.dark #chart {
        background-color: #0e272e;
       
      }
    
      .mainField.light #chart {
        background-color: #edf4f6;
       
      }
    
  
  
  
  }
  