
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;500&display=swap');

*{
  font-family: 'Ysabeau SC', sans-serif;

 
}

.mainField #chart2 {
  background-color: #1b414c;
  color: #fff;
  border-radius: 20px;
padding: 20px 20px 0 20px;
margin: 0% 62% 0;
  display: flex;
top:410px;
position: relative;
width: 610px;
transition: 0.5s;
  align-items: center;
height: 190px;

}
.mainField.light #chart2 {
  background-color: #fff;
}

apexcharts-tooltip .apexcharts-theme-light apexcharts-active{
  display: none;
}

.labelG{
  position: relative;
  bottom: 100px;
  right: 450px;



}


.labelT{
  width: 400px;
  font-weight: 600;

}


.mainField.light .labelT {
  color:#9dafb4 !important;
}


.apexcharts-legend-marker[rel="2"] {
  background-color: #5EC7DD !important; /* Замените на желаемый цвет для второго маркера */
  color: #5EC7DD !important; 
  display: none;
}


#chart2 .apexcharts-legend-marker[rel="1"] {

  display: none;
}


#apexcharts5bx1w9xl > div.apexcharts-tooltip.apexcharts-theme-light.apexcharts-active{
  display: none;
}




.pos{
color: #e96e94;
padding-right: 20px;
padding-left: 5px;
}


.neg{
  color:#5EC7DD;
 
padding-left: 4px;
}

.apexcharts-tooltip-title{  display: none;}



.apexcharts-legend-marker[rel="2"] {
  background-color: #5EC7DD !important; /* Замените на желаемый цвет для второго маркера */
  color: #5EC7DD !important; 
  display: none;
}


#chart2 .apexcharts-legend-marker[rel="1"] {

  display: none;
}



.apexcharts-canvas {
  border-radius: 5px;
    width: 600px;

}


.apexcharts-tooltip {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
}


.apexcharts-tooltip.apexcharts-theme-light:after,
.apexcharts-tooltip.apexcharts-theme-dark:after {
 display: none;
}


.apexcharts-toolbar {
  display: none!important;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-series-group {
  font-weight: bold;
  margin-bottom: 5px;
}


.apexcharts-tooltip-marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}




.apexcharts-legend {
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 5px;
}


.apexcharts-legend-series-marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.apexcharts-legend-text {
  cursor: pointer;
}


.apexcharts-gridline {
  stroke-dasharray: 2;
}


.apexcharts-area-series {
  fill-opacity: 0.5;
}


.apexcharts-line-series {
  stroke-width: 2;
}


.apexcharts-marker {
  stroke-width: 2;
}


@media (max-width: 2200px) {
.mainField #chart2 {

  margin: 0% 30% 0;


}}

@media (max-width: 1450px) {

  .mainField #chart2 {

    margin: 0% 20% 0;
  
  
  }
  

}


@media (max-width: 900px) {

  .mainField #chart2 {

    margin: 0% 30% 0;
  width: 500px;
  
  }
  #SvgjsSvg1327{

    width: 500px;

 
  }
  .labelG{

    right: 550px;
  
  
  
  }

}



@media (max-width: 820px) {

  .mainField #chart2 {

    margin: 0% 26% 0;
  width: 450px;
  
  }
  #SvgjsSvg1327{

    width: 450px;

 
  }

}


@media (max-width: 720px) {

  .mainField #chart2 {

    margin: 0% 22% 0;

  
    width: 400px;
  
  }
  #SvgjsSvg1327{

    width: 400px;

 
  }

}





@media (max-width: 630px) {

  .mainField #chart2 {

    margin: 0% 20% 0;

  
    width: 400px;
  
  }
  #SvgjsSvg1327{

    width: 400px;

 
  }

}


  





  @media (max-width: 600px) {

 
  
    .mainField #chart2 {
      background-color: #1b414c;
      color: #fff;
      border-radius: 20px;
    padding: 20px 0 0 0;
    margin: 0 auto;
      display: flex;
    top:610px;
      width: 540px;
  
   
    
    }



    #SvgjsSvg1327{

      width: 540px;

      margin: 2% 0 0 2%;
    }


    .labelG{
  
      right: 500px;
    
    
    
    }
    
    
  



  }


  
  @media (max-width: 400px) {

 
  
    .mainField #chart2 {
   left:0px;
      margin: 0 auto;
      overflow: hidden;
    top: 670px;
      width: 370px;
  
    
    }



    #SvgjsSvg1327{

      width: 0px;

      margin: 0;
    }


    .labelG{
  
      right: 550px;
      padding-bottom: 10px;
    
    
    
    }
    
    
  



  }



