
.converter {
  position: fixed;
  right: 350px;
  top: 550px;
  padding: 10px;
  color: #9dafb4;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  background-size: 200% auto;
}

.converter h3 {
  font-size: 18px;
  margin: 10px; 
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid #9ddd5e;
  border-radius:10px;
  font-size: 16px;
  transition: 0.5s;
  background-size: 200% auto;
}

.active.input-container input {
  color: #5ec7dd;
}


.input-container select {
  margin-left: 10px;
  padding: 5px;
 
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #9ddd5e;


  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
 

}
.buttonArrow {
  font-size: 18px;
  border:none;
  background-color:#fff;
  color: #e96e94;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;

}
.buttonCoins{
  font-size: 18px;
  border:none;
  background-color:#f9f9f9;
  color: #e96e94;
  cursor: pointer;
  display: none;
  transition: 0.5s;
  background-size: 200% auto;
}


.input-container select:focus,
.input-container input[type="text"]:focus
{
  border-color:  #5ec7dd;
  outline: none;

}

.input-container input::placeholder{
  color: #b4afaf;
}

.result p {
  font-size: 16px;
  margin-bottom: 5px;
}


.converter.dark{
  background-color: #1b414c;
 color: #fff;


}

.converter.dark input[type="text"],
.converter.dark select{
  background-color: #455e63;
  color: #fff;
}
.converter.dark .buttonCoins{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.dark .buttonArrow{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.light .cross{

  background-color: #9dafb4;
   color: #fff;
 
 
 }
 
.converter.dark .cross{

 background-color: #edf4f6;
  color: #2b2929;


}

.headerCurrencyAdd{
  display: none;



}

@media (max-width: 1666px) {

  .converter {
    right: 300px;
   
  }
  
  }
  @media (max-width: 1540px) {

    .converter {
      right: 200px;
     
    }
    
    }

    @media (max-width: 1370px) {

      .converter {
        right: 100px;
       
      }
      
      }


@media (max-width: 1250px) {

  .converter {
    right: 20px;
    padding: 8px;

  }
  
}
@media (max-width: 1110px) {

  .converter {


            
      right:10px;
      top:700px;
     width: 400px;
     
    
    
   
  }
  
  }



@media (max-width: 1040px) {

  .converter {
    right: 20px;
    padding: 5px;
  }
  
}


@media (max-width: 1040px) {

  .converter {
    right: 190px;
    padding: 5px;
    top:1000px;
    margin: 5px;
  }
  
}

@media (max-width: 950px) {

  .headerCurrency{
    display: none;
  }
  .converter .buttonArrow {
    display: none;
  }

  .buttonCoins {
    display: block; 
  }

  .headerCurrencyAdd{
    display: block;
  
  }
  
}
@media (max-width: 815px) {

  .converter {
  

    right: 100px;
    padding: 5px;
 
  }

}


@media (max-width: 750px) {

  .converter {
  

    right: 100px;
    padding: 5px;
 
  }

}

@media (max-width: 650px) {

  .converter {
  
    right: 80px;
 
 
 
  }

}

@media (max-width: 600px) {

  .converter {
  
 
 
    position: relative;
    top:-1210px;
    right: 60px;
    margin: 20px 25%;
 
  }

}

@media (max-width: 390px) {

  .converter {
  
 
 
    position: relative;
    top:-500px;
    right: 60px;
    margin: 20px 20%;
 
  }

}
