
.converter {
  position: absolute;
  right: 350px;
  top: 550px;
  padding: 10px;
  color: #9dafb4;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  background-size: 200% auto;
}

.converter h3 {
  font-size: 18px;
  margin: 10px; 
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid #9ddd5e;
  border-radius:10px;
  font-size: 16px;
  transition: 0.5s;
  background-size: 200% auto;
}

.active.input-container input {
  color: #5ec7dd;
}


.input-container select {
  margin-left: 10px;
  padding: 5px;
 
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #9ddd5e;


  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
 

}
.buttonArrow {
  font-size: 18px;
  border:none;
  background-color:#fff;
  color: #e96e94;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;

}
.buttonCoins{
  font-size: 18px;
  border:none;
  background-color:#f9f9f9;
  color: #e96e94;
  cursor: pointer;
  display: none;
  transition: 0.5s;
  background-size: 200% auto;
}


.input-container select:focus,
.input-container input[type="text"]:focus
{
  border-color:  #5ec7dd;
  outline: none;

}

.input-container input::placeholder{
  color: #b4afaf;
}

.result p {
  font-size: 16px;
  margin-bottom: 5px;
}


.converter.dark{
  background-color: #1b414c;
 color: #fff;


}

.converter.dark input[type="text"],
.converter.dark select{
  background-color: #455e63;
  color: #fff;
}
.converter.dark .buttonCoins{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.dark .buttonArrow{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.light .cross{

  background-color: #9dafb4;
   color: #fff;
 
 
 }
 
.converter.dark .cross{

 background-color: #edf4f6;
  color: #2b2929;


}

.headerCurrencyAdd{
  display: none;



}


@media (max-width: 3440px) {

  .converter {
    right: 1200px;
    top:600px;
  
   
  }
  
  }

  @media (max-width: 3090px) {

    .converter {
      right: 1000px;
  
     
    }
    
    }



    @media (max-width: 2900px) {


      .converter {
        right: 1000px;
    
      
      }
      
      }
      
      
      @media (max-width: 2200px) {

        .converter {
       
          right: 700px;
       
        
         
        
        }
        
        }
    


        @media (max-width: 1950px) {

          .converter {
            right: 500px;
         
          
           
          
          }
          
          }




          @media (max-width: 1750px) {

            .converter {
              right: 300px;
           
            
             
            
            }
            
            }



      


@media (max-width: 1666px) {

  .converter {
    right: 300px;
   
  }
  
  }
  @media (max-width: 1540px) {

    .converter {
      right: 200px;
     
    }
    
    }
    @media (max-width: 1390px) {

      .converter {
     
        right: 100px;
      
       
      
      }}


          
    @media (max-width: 1300px) {

      .converter {
     
   
        right: 50px;
      
       
      
      }}



@media (max-width: 1250px) {

  .converter {
    right: 20px;
    padding: 8px;

  }
  
}
@media (max-width: 1145px) {

  .converter {


            
      right:100px;
      top:600px;
   
     
    
    
   
  }
  
  }



  @media (max-width: 1080px) {

    .converter {
   
      right: 5px;
     
  
   
    }
    
  }

  @media (max-width: 960px) {

    .converter {
      top:950px;
 
      right:200px;
     
  
   
    }


        
    
  }


@media (max-width: 815px) {

  .converter {
  

    right: 100px;
    padding: 5px;
 
  }

}


@media (max-width: 750px) {

  .converter {
  

    right: 100px;
    padding: 5px;
 
  }

}

@media (max-width: 650px) {

  .converter {
  
    right: 80px;
 
 
 
  }

}

@media (max-width: 600px) {

  .converter {
  
 
 
    position: relative;
    top:-1210px;
    right: 50px;
    margin: 50px 20% 0 20%;
 
  }

}

@media (max-width: 550px) {

  .converter {
  
 
 width: 70%;
    position: relative;
    top:-1210px;
    right: 50px;
  
 
  }

}

@media (max-width: 450px) {

  .converter {
  
    top:-1010px;
 width: 80%;
  
 margin: 50px 10% ;
 
  }

}



@media (max-width: 390px) {

  .converter {
    top:-800px;
 
    margin: 200px 0 0  25px;
    width: 90%;

 
 
  }

}
