

/* .mainField {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

} */
.converter {

  transition: 0.5s;


  width: 350px;




  padding: 10px;
  color: #9dafb4;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.converter h3 {
  font-size: 18px;
  margin: 10px; 
  text-align: center;
}

.input-container {
  
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid #9ddd5e;
  border-radius:10px;
  font-size: 16px;
  transition: 0.5s;
}

.active.input-container input {
  color: #5ec7dd;
}


.input-container select {
  margin-left: 10px;
  padding: 5px;
 
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #9ddd5e;


  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
 

}
.buttonArrow {
  font-size: 18px;
  border:none;
  background-color:#fff;
  color: #e96e94;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;

}
.buttonCoins{
  font-size: 18px;
  border:none;
  background-color:#f9f9f9;
  color: #e96e94;
  cursor: pointer;
  display: none;
  transition: 0.5s;
  background-size: 200% auto;
}


.input-container select:focus,
.input-container input[type="text"]:focus
{
  border-color:  #5ec7dd;
  outline: none;

}

.input-container input::placeholder{
  color: #b4afaf;
}

.result p {
  font-size: 16px;
  margin-bottom: 5px;
}


.converter.dark{
  background-color: #1b414c;
 color: #fff;


}

.converter.dark input[type="text"],
.converter.dark select{
  background-color: #455e63;
  color: #fff;
}
.converter.dark .buttonCoins{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.dark .buttonArrow{
  background-color: #1b414c;
  font-size: 18px;
  color: #e96e94;
  cursor: pointer;

}

.converter.light .cross{

  background-color: #9dafb4;
   color: #fff;
 
 
 }
 
.converter.dark .cross{

 background-color: #edf4f6;
  color: #2b2929;


}

.headerCurrencyAdd{
  display: none;



}
@media (max-width: 2000px) {
  .converter {

  
  
  
  position: relative;
   top:-50px;
  
  
  }
}

@media (max-width: 1650px) {
  .converter {

  
  
  
  position: relative;
   top:-50px;
  
  
  }
}

@media (max-width: 1350px) {


  
  .converter {






position: relative;
left: 400px;
top: -300px;

}
  
  
  }
  
  @media (max-width: 900px) {


  
    .converter {
  
  
  
  
  
  
  position: relative;
  left: 3px;
  top: -10px;
  
  }
    
    
    }

    @media (max-width: 800px) {


  
      .converter {
    
    
    
    
    
    
    position: relative;
    left: 10px;
    top: -10px;
    
    }
      
      
      }

   
    @media (max-width: 600px) {

      .converter {
    
      top:1000px;
        width:340px;
        
    
        
        }
        
    
    
    }
    

    @media (max-width: 400px) {

      .converter {
    
      top:1600px;
        bottom: 60px;
        width:340px;
        margin: 0 0 0 0;
        left:0px;
        
        }
        
    
    
    }
    
     