
  

table.accountContent{
  background-color: white; 


}
.accountContent{
  margin: 0 40%;

  background: none;
  border-radius: 20px;
  color: #9DAFB4;

 transition: 0.5s;
 

}



.instructionButton{


  background-color:#1b414c;
  position: absolute;
  left:90px;
  top: -85px;
  color: #fff;
  font-size: 160%;
  z-index: 1;
cursor: pointer;
transition: 0.5s;
}

.instructionButton:hover{
  color:#5EC7DD;
}

.mainField.light .instructionButton{
  color:#9dafb4;
  background-color: #fff;
}

.mainField.light .instructionButton:hover{
  color:#5EC7DD;
}



.text {
  margin: 100px auto;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 23px;
  color: #9DAFB4;
}

.text.dark{
  color:#fff;
}


.titleList {
  text-align: center;
}


 table::-webkit-scrollbar {
  width:0px;



}


table::-webkit-scrollbar-thumb {
  background-color:#fff;
  border-radius: 10px;
 
}





.mainField.light table {
border: 5px solid #fff;
}

tfoot {
  position: sticky;
  bottom: 0;
  background-color: #1b414c;
 
  transition: 0.5s;
}


.mainField.light tfoot {

  background-color: #fff;
}


thead {
  position: sticky;
  top: 50px;

  transition: 0.5s;
  background-color: #1b414c;

}

table {

  text-align: center;
  border-collapse: collapse;
  border: 5px solid #1b414c;

  border-radius: 20px;
  color: #9DAFB4;
  transition: 0.5s;
  width: 655px;

    display: block;
    overflow-y: auto;
    max-height: 505px;
  }



th {  
  transition: 0.5s;


  font-weight: 300;
  padding-bottom:5px;

}
  
 caption { 
  transition: 0.5s;
  font-size: 23px;
  font-weight: 600;
  text-align: center;


padding-bottom: 20px;
    position: sticky; 
    top: 0px;

    background-color: #1b414c;
   
  }
  


  td:first-child {
    font-size: 140%;
    
  }

td:last-child {
  width: 10%;
}

table.accountContent.dark{ 
  border-radius: 20px;
  background-color: #1b414c;
}
caption{
  color: #455E63;
}

.positive {
  color: #E96E94;

}

.negative {
color: #5EC7DD;
}

.pad {
  margin-top: 5px;
  padding: 5px 5px 0 0;
  

}










.editIcon1.light:hover,
.deleteIcon1.light:hover {
 color: #5EC7DD;
 box-shadow: 0 0 5px #5EC7DD;
 text-shadow: 0 0 5px #5EC7DD;
 border-radius: 5px;
}

.editIcon1.dark:hover,
.deleteIcon1.dark:hover {
 color: #ffcd38;
 box-shadow: 0 0 5px #ffcd38;
 text-shadow: 0 0 5px #ffcd38;
 border-radius: 5px;
}


.editIcon1{
  padding: 8px;
  font-size: 16px;
  color:#5EC7DD;
  transition: 0.5s;
margin: 1px;
  cursor: pointer;
}

.deleteIcon1{
  padding: 6px;
  font-size: 22px;
  color:#5EC7DD; 
  transition: 0.5s;

  cursor: pointer;
}

.editIcon1.dark{
  color:#FFCD38;

}

.deleteIcon1.dark{
  color:#FFCD38;   
}



.accountContent.dark th {
  font-size: 20px;
  font-weight: 300;

  border-bottom: 5px solid #0E272E;
}

.accountContent.light th {
  font-size: 20px;
  font-weight: 300;

  border-bottom: 5px solid  #EDF4F6;
}
   
.titleList{
  position: relative;
  margin: auto;
  font-size: 20px;
  margin-top: 10px;
}








@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Apply the 'blink' animation to the 'blinking-icon' class */
.blinking-icon {
  animation: blink 3s infinite;
  position: relative;
 top: 5px;
 left: 10px;
}


.tagCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}





.mainField.light thead {

  background-color: #fff;

}

.mainField.light caption {

  background-color: #fff;

}


@media (max-width: 1350px) {


  .accountContent{
    margin: 0 50%;
  
 
   
  
  }
  
  
  
  }
  
@media (max-width: 1350px) {


  .accountContent{
    margin: 0 40%;
  
  
  }
  
  
  
  }
  @media (max-width: 930px) {


    .accountContent{
      margin: 0 35%;
  
    
    }
    
    .text {
      margin: 100px 30%;
      width: 50%;

      transition: 0.5s;
    
      font-size: 20px;
    
    }
    
    }

    @media (max-width: 860px) {


      .accountContent{
        margin: 0 45%;
      width: 500px;
      
      }
      
      
      
      }
      
    @media (max-width: 750px) {


      .accountContent{
        margin: 0 50%;
      width: 450px;
      
      }
      
      .text {
        margin: 100px 30%;
        width: 50%;
  
        transition: 0.5s;
      
        font-size: 18px;
      
      }
      
      }


      @media (max-width: 700px) {


        .accountContent{
          margin: 0 40%;
        width: 450px;
        
        }
        
      
        
        }









      @media (max-width: 650px) {


        .accountContent{
      
          margin: 0 40%;
          width: 450px;
        
        }
        
        
      
     
        .text {
          margin: 10px 30%;
          width: 50%;
    
          transition: 0.5s;
        
          font-size: 18px;
        }

        
          
        
       
          .text {
            margin: 220px 20% 100px 20%;
            width: 60%;
      
            transition: 0.5s;
          
            font-size: 16px;
          }} 


          @media (max-width: 600px) {


            .accountContent{
          
              margin: 0 5%;
              width: 500px;
            
            }
            
          }    



          @media (max-width: 420px) {


            .accountContent{
          
              margin: 0;
              width: 100%;
            padding: 0;
            }
            

          
         
          



          }    











          