.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
margin: 0;
 



  color: #455E63; 


}
.headerLogoMobile{
  display: none;

}
.header.dark {

  transition: 0.5s;
  color: #fff; 


}

.header.light {

  transition: 0.5s;
 


}



.letter {
  color: #E96E94; 
  font-size: 110%; 
 } 
 

.textModal{
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.buttonTheme {
  position: absolute;
  cursor: pointer;
  left: 1500px;
  border: none;
  font-size: 24px;

  color: #E96E94; 
}

.buttonTheme.dark {
  left: 1470px;
  background-color:#0E272E;
   color: #E96E94; 

  
   transition: 0.5s;
    
  
}

.buttonTheme.light {

  background-color:#edf4f6;

   transition: 0.5s;
    
  
}



.logIn {

  color: #9DAFB4; 
    position: absolute;
    cursor: pointer;
    border: none;
    font-size: 24px;
    transition: 0.5s;
    background-size: 200% auto;
    background-color:#edf4f6;

    left: 1300px;

      
    
  }
 .logIn.dark{
    

    background-color: #0E272E;
   
   

  
    color: #fff; 

  }

  .logIn :hover,
  .SignUp:hover {
    color: #5EC7DD; 
  }
  .inputContainer {
    display: inline-block;
    position: relative;
  }
  .headerLogo{
    position: absolute;
   left:300px
 

  }

 .searchContainer {
    position: relative;
    right:300px;
    top:5px;
  }
  .searchInput{
    font-size: 18px;
    position: relative;
    left:10px;

    padding: 10px 30px;
    margin: 25px 0 20px 0;
    background-color: #fff;
    color:  #9DAFB4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
   
  

  }
 
 

.searchInput:focus {
  outline: none;
  border: 1px solid #5ec7dd; 
}



  .header.dark .searchInput{
    background-color: #1b414c;
  
  }

  
  .searchButton {
    position: absolute;
    top: 27px;
    right: 0;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    color:  #9DAFB4;
    font-size: 20px;
  }
  
  .searchIcon {
    position: absolute;
    top:55%;
    right: 10px;
    transform: translateY(-50%);
  
  }
  
  .SignUp {
    position: absolute;
    cursor: pointer;
    border: none;
    font-size: 23px;
    transition: 0.5s;
    background-size: 200% auto;
    position: absolute;
    left: 1250px;
    color: #9DAFB4; 
    
  }

  .burger {
    display: none;
    z-index: 1;
  }

  .menu {
    display: flex;
    position: absolute;
    border: 2px solid #a4781b;
    border-radius: 10px;
    flex-grow: 1;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-top: 100px;
    z-index: 0;
      color: #455E63; 
  }
  
  .menu button {
    margin-bottom: 10px;
  
  }
  
  .menu.dark{
    background-color: #9fa0a1;
  }

  
  @media (max-width: 3500px) {
    .searchContainer{
    
      left:1000px;
     
    
    }
    }

     
  @media (max-width: 2300px) {
    .searchContainer{
    
      left:800px;
     
    
    }
    }
  
  @media (max-width: 1850px) {
  .searchContainer{
  
    left:100px;
    
  
  }
  }

  @media (max-width: 1650px) {
    .searchContainer{
    
      right:100px;
      top:5px;
    
    }
    }
  


@media (max-width: 1600px) {
 
  .logIn {
    left: 1100px;
  }

  .SignUp {
    left: 1050px;
  }

  .buttonTheme {
    left: 1300px;
  }

  .buttonTheme.dark {
    left: 1270px;
  }
  .searchContainer{
    
    right:50px;
   
  
  }

}


@media (max-width: 1400px) {
 
  .logIn {
    left: 1000px;
  }
  
  .SignUp {
    left: 950px;
  }

  .buttonTheme {
    left: 1200px;
  }

  .buttonTheme.dark {
    left: 1170px;
  }
 
 

}

@media (max-width: 1260px) {
 
  .logIn {
    left: 900px;
  }
  
  .SignUp {
    left: 850px;
  }
 
  .buttonTheme {
  left: 1000px;
}

  .buttonTheme.dark {
    left: 970px;
  }


}


@media (max-width: 1050px) {
 
  .logIn {
    left: 800px;
  }
  
  .SignUp {
    left: 750px;
  }

  .buttonTheme {
    left: 900px;
}
  .buttonTheme.dark {
    left: 870px;
  }

  .searchContainer{
    top:0px;
    left:140px;
     
  }
  .searchInput{
    font-size: 18px;
    position: relative;
    left:10px;

    padding: 6px;
    margin: 25px 0 20px 0;

   
  

  }
 
}

@media (max-width: 950px) {

  .logIn {
    left: 700px;
   
  }

  .buttonTheme {
    left: 800px;
  }

  .buttonTheme.dark {
    left: 770px;
  }

  .searchContainer{
    top:0px;
    left:130px;
     
  }
  .searchInput{
    font-size: 16px;
    position: relative;
    left:10px;
width: 120px;
    padding: 6px;
    margin: 25px 0 20px 0;

   
  

  }
  
}



@media (max-width: 850px) {

  .logIn {
    
    left: 600px;
  }

  .buttonTheme {
    left: 700px;
  }

  .buttonTheme.dark {
    left: 710px;
  }


  .searchContainer{
   display: none;
     
  }

  
}



@media (max-width: 750px) {

  .logIn {
    left: 530px;
    
  }

  .buttonTheme {
    left: 600px;
  }



  .buttonTheme.dark {
    left: 630px;
  }

  /* .burger {
    left: 530px;
  }

  .menu {
    left: 520px;
  } */

}

/* 
@media (max-width: 680px) {

  .burger {
    left: 520px;
  }

  .menu {
    left: 510px;
  }

} */


@media (max-width: 650px) {

  .logIn {
    left: 550px;

  }
.headerLogo{
  left:250px;
}
.buttonTheme{

  font-size: 30px;

}
  .buttonTheme.light {
 
    left: 60px;
  
    background-color: #fff;
   
  
  }  
  
  .logIn.dark{
    background-color: #1B414C;
   
   

  }

  .buttonTheme.dark {

    left: 70px;
    background-color: #1B414C;
  }

  /* .burger {
    font-size: 35px;
    left: 450px;
  }

  .menu {
    padding: 20px;
    left: 440px;
   
  } */

  .header {
  font-size: 14px;
  height: 50px;

}

  .letter {
  font-size: 100%;
 } 
 
  .modalButtonLog {
  font-size: 10px;
 }

  .header {
    box-shadow:none;
  }

}

@media (max-width: 600px) {


  .headerLogoMobile{
    display: block;
    font-size: 40px;
    position: relative;
    right:200px;
  
  
  }
  .logIn {

    left: 500px;
    font-size: 30px;

  }.letter{
    color: #9dafb4;

  }
.header.light {
  background-color:#EDF4F6;
}
.header.dark {
  background-color:#0e272e;
}

  .logIn.dark{
    
    background-color: #0e272e;
   
   

  }



.logIn.light{
    
    background-color:#EDF4F6;
   
   

  }
.headerLogo{
 display: none;
}


  .buttonTheme.light {
    left: 400px;


    background-color: #EDF4F6;
   
  
  }  

  .buttonTheme.dark {
    left: 390px;
    background-color: #0e272e;  }

    .searchContainer{
      display: inline-block;
      margin: 0px;
      left: 20px;
      top:70px;
      position: absolute;
   
      padding: 10px;
     }
     .header.dark .searchInput{
      background-color:#0e272e;

}
.searchInput{

  border-radius:25px;
 
font-size: 20px;
  padding: 15px 55px;
  margin: 25px 0 20px 0;

 


}

}

@media (max-width:540px) {

  .logIn {
    left: 450px;
  }
 
    
}


@media (max-width: 500px) {

  .logIn {
    left:320px;
    
  }

 


  .burger {
    left: 400px;
  }

  .menu {
  font-size: 5px;
  left: 300px;
  }

  .menu.dark{
    background-color:#3c4049;
  }

  .header {

    height: 70px;
    box-shadow: none;
}

  .letter {
    font-size: 120%; 
 } 
 
  .modalButtonLog{
    font-size: 10px;
 }




  .header {
    font-size: 13px;
    height: 70px;
    box-shadow: none;
    position: fixed;
 
  }
  .headerLogoMobile{


    right:150px;
  
  
  }

  .letter {
    font-size: 120%; 
  } 
 
  .modalButtonLog{
    font-size: 10px;
  }
 
}



@media (max-width:430px) {
  .logIn {
    left:310px;
    
  }

  .buttonTheme.light {
    left: 360px;


 
   
  
  }  

  .buttonTheme.dark {
    left: 365px;
  }
}

@media (max-width:390px) {

  .header {
   
    height:50px;
  
  }

  .logIn {
    left:250px;
    
  }

  .buttonTheme.light {
    left: 310px;


 
   
  
  }  

  .buttonTheme.dark {
    left: 315px;
  }

}

@media (max-width:350px) {
  .headerLogoMobile{
    right:120px;
  }
  .logIn {
    left:230px;
    
  }

  .buttonTheme.light {
    left: 280px;


 
   
  
  }  

  .buttonTheme.dark {
    left: 285px;
  }

}

@media (max-width:315px) {
  .burger {
    left: 270px;
  }

  .menu {
    left: 160px;
  }

}

@media (max-width:300px) {
  .burger {
    left: 260px;
  }

  .buttonTheme {
    top:10px;
    left: 0px;
    font-size: 30px;
  }

  .buttonTheme.dark {
    left: 5px;
  }

  .menu {
    left: 150px;
  }
  
}