.personal-cabinet{
position: absolute;
top:  0px;

   background-color: #fff;
   color: #000;
   border: 3px solid #9dafb4;
   border-radius: 20px;
   z-index: 10;
}

.personal-cabinet.dark{


   background-color: #455e63;
   color: #fff;
   z-index: 10;

}

.buttonCabCross.dark{
 
    color: #5ec7dd;
    font-size: 24px;
    background-color:#455e63;

}

.buttonCabCross{
    transition: 0.5s;
    border:none;
   border-radius:20px;
    color: #5ec7dd;
    font-size: 24px;
    background-color:#fff;
  

}

.personal-cabinet.light .user-details{
    color: #455e63;
}
.personal-cabinet.dark .user-details{
    color: #fff;
}

.user-details{
    position: relative;
bottom:50px;
margin: 0;
padding: 0 20%;
z-index: 3;
color: #000;
text-align: center;
font-size: 20px;


}

:root {
  --eyes-color: white;
  --head-color: #1B2129;
  --color1: #98c200;
  --color2: #4d0033;
  --color4: #162947;
}



.cat-container {
  width: 30vmin;
  height: 28vmin;
  z-index: 2;
 position: relative;

 margin: 20% 25% -20% 25%;
}

.cat {
    margin: 0;
  width: 50%;
  height: 50%;
  border-radius: 40% 40% 50% 50% / 60% 60% 40% 40%;
  animation: eyes-animation 100ms infinite ease-in-out;
  animation-direction: alternate;
  background-image:
  
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, black 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, black 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    radial-gradient(ellipse, pink 60%, transparent 61%),
    radial-gradient(ellipse, #1B2129 49%, var(--head-color) 50%, var(--head-color) 51%);
  background-position: 
    32.5% 38%, 23.5% 50%, 22.5% 40%, 20% 40%, 18% 38%,
    81% 38%, 70.5% 50%, 77.5% 40%, 80% 40%, 82% 38%,
    34% 81%, 35% 83%, 67% 81%, 65% 83%,
    /* nose */
    50% 70%,
    /* tongue */
    50% 87%,
    /* cat head */
    50% 75%;
  background-size: 
    /* left eye */
    2vmin 2vmin, 1.5vmin 1.5vmin, 3.5vmin 3.5vmin, 4.5vmin 4.5vmin, 4.75vmin 4.75vmin,
    /* right eye */
    2vmin 2vmin, 1.5vmin 1.5vmin, 3.5vmin 3.5vmin, 4.5vmin 4.5vmin, 4.75vmin 4.75vmin,
    /* mouth */
    4vmin 3vmin, 4vmin 3vmin, 4vmin 3vmin, 4vmin 3vmin,
    /* nose */
    2vmin 2vmin,
    /* tongue */
    0vmin 0vmin,
    /* cat head */
    19vmin 16.5vmin;
  background-repeat: no-repeat;
}

.cat:hover {
  background-image:
    /* left eye */
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, black 60%, transparent 61%),
    /* right eye */
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, var(--eyes-color) 60%, transparent 61%),
    radial-gradient(ellipse, black 60%, transparent 61%),
    /* mouth */
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    radial-gradient(ellipse, var(--head-color) 60%, transparent 61%),
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    /* nose */
    radial-gradient(ellipse, #4D4355 60%, transparent 61%),
    /* tongue */
    radial-gradient(ellipse, pink 60%, transparent 61%),
    /* cat head */
    radial-gradient(ellipse, #1B2129 49%, var(--head-color) 50%, var(--head-color) 51%);
  background-position: 
    /* left eye */
    32.5% 38%, 23.5% 50%, 22.5% 40%, 20% 40%, 18% 38%,
    /* right eye */
    81% 38%, 70.5% 50%, 77.5% 40%, 80% 40%, 82% 38%,
    /* mouth */
    34% 81%, 35% 83%, 67% 81%, 65% 83%,
    /* nose */
    50% 70%,
    /* tongue */
    50% 87%,
    /* cat head */
    50% 75%;
  background-size: 
    /* left eye */
    2vmin 2vmin, 1.5vmin 1.5vmin, 3.5vmin 3.5vmin, 4.5vmin 4.5vmin, 4.75vmin 4.75vmin,
    /* right eye */
    2vmin 2vmin, 1.5vmin 1.5vmin, 3.5vmin 3.5vmin, 4.5vmin 4.5vmin, 4.75vmin 4.75vmin,
    /* mouth */
    4vmin 3vmin, 4vmin 3vmin, 4vmin 3vmin, 4vmin 3vmin,
    /* nose */
    2vmin 2vmin,
    /* tongue */
    2vmin 2vmin,
    /* cat head */
    19vmin 16.5vmin;
  background-repeat: no-repeat;
  animation: tongue-animation 100ms;
}

.cat:before, .cat:after {
  content: "";
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  margin-top: -1.25vmin;
  background-color: black;
  border-radius: 100% 0% 30% 70% / 30% 0% 100% 70%;
  box-sizing: border-box;
  z-index: -1;
}

.cat:before {
  margin-left: -0vmin;
  transform: rotate(275deg);
  box-shadow: inset -2vmin 0 0 var(--head-color);
}

.cat:after {
  margin-left: 10vmin;
  transform: rotate(-5deg);
  box-shadow: inset 0 2vmin 0 var(--head-color);
}

@keyframes eyes-animation {
  to {
    background-position: 
      /* left eye */
      31.5% 38%, 23% 50%, 22.5% 40%, 20% 40%, 18% 38%,
      /* right eye */
      80% 38%, 70% 50%, 77.5% 40%, 80% 40%, 82% 38%,
      /* mouth */
      34% 81%, 35% 83%, 67% 81%, 65% 83%,
      /* nose */
      50% 70%,
      /* tongue */
      50% 90%,
      /* cat head */
      50% 75%;
  }
}

@keyframes tongue-animation {
  to {
    background-position: 
      /* left eye */
      31.5% 38%, 23% 50%, 22.5% 40%, 20% 40%, 18% 38%,
      /* right eye */
      80% 38%, 70% 50%, 77.5% 40%, 80% 40%, 82% 38%,
      /* mouth */
      34% 81%, 35% 83%, 67% 81%, 65% 83%,
      /* nose */
      50% 70%,
      /* tongue */
      50% 90%,
      /* cat head */
      50% 75%;
  }
}


  
@media (max-width:600px) {


  .personal-cabinet{
    position: absolute;
    top:  0px;
padding: 20px;
       background-color: #fff;
       color: #000;
       border: 3px solid #9dafb4;
       border-radius: 20px;
       z-index: 10;
    }
    
    .personal-cabinet.dark{
    
    
       background-color: #455e63;
       color: #fff;
       z-index: 10;
    
    }
    
    .buttonCabCross.dark{
     
        color: #5ec7dd;
        font-size: 18px!important;
        background-color:#455e63;
    
    }
    
    .buttonCabCross{
        transition: 0.5s;
        border:none;
       border-radius:20px;
        color: #5ec7dd;
        font-size: 18px!important;
        background-color:#fff;
      
    
    }
    
    .personal-cabinet.light .user-details{
        color: #455e63;
    }
    .personal-cabinet.dark .user-details{
        color: #fff;
    }
    
    .user-details{
        position: relative;
    bottom:50px;
    margin: 2px;
 padding: 5px;
    z-index: 3;
    color: #000;
    text-align: center;
    font-size: 15px;
    
    
    }}



     
@media (max-width:370px) {


  .personal-cabinet{
    position: absolute;
    top:  0px;
padding: 10px;
       background-color: #fff;
       color: #000;
       border: 3px solid #9dafb4;
       border-radius: 20px;
       z-index: 10;
    }
    
    .personal-cabinet.dark{
    
    
       background-color: #455e63;
       color: #fff;
       z-index: 10;
    
    }
    
    .buttonCabCross.dark{
     
        color: #5ec7dd;
        font-size: 18px!important;
        background-color:#455e63;
    
    }
    
    .buttonCabCross{
        transition: 0.5s;
        border:none;
       border-radius:20px;
        color: #5ec7dd;
        font-size: 18px!important;
        background-color:#fff;
      
    
    }
    
    .personal-cabinet.light .user-details{
        color: #455e63;
    }
    .personal-cabinet.dark .user-details{
        color: #fff;
    }
    
    .user-details{
        position: relative;
    bottom:50px;
    margin: 2px;
 padding: 5px;
    z-index: 3;
    color: #000;
    text-align: center;
    font-size: 15px;
    
    
    }}