.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  transition: 0.5s;
  background-size: 200% auto;
  color:  #9DAFB4;
  background-color: #fff;
}

.sidebar.dark {
  background-color: #1B414C;
  color:#9DAFB4;
}
  

.accountButtonActions {
  float: right;
color:  #ffcd38;
  cursor: pointer;
  padding:4px;
 
 }
 
 /* .accountButtonContainer{
 
   border-radius: 20px;
   padding:2px;
   margin:1px;
   justify-content: stretch;
   box-shadow: 0px 2px 4px #343841;
   
 
 } */
 .sidebar.dark .accountButtonContainer{
  border-radius: 20px;
  padding:2px;
  margin:1px;
  justify-content: stretch;


  justify-content: stretch;
  box-shadow: 0px 2px 4px #aaafb9;
  

}
.sidebar.light .accountButtonContainer{
  border-radius: 20px;
  padding:2px;
  margin:1px;
  justify-content: stretch;
  box-shadow: 0px 2px 4px #343841;
   

}



 .editButton {
   float: left;
   padding:4px;
   font-size: 14px;
   cursor: pointer;


   cursor: pointer;
   transition: 0.5s;
   background-size: 200% auto;
 
 }

 .deleteButton{
   cursor: pointer;
   font-size: 20px;
   cursor: pointer;
 
   transition: 0.5s;
   background-size: 200% auto;
 }
 
 .editButton.dark {
  color: #8d919b;
 }

 .deleteButton.dark {
   color: #8d919b;
}

.accountButtons {
  cursor: pointer;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.active.accountButton {
  color: #455e63;
}

.active.accountButton.dark {
  color: #5ec7dd;
  
}




.label{
  text-align: center;
  padding-bottom: 5px;
  color:#9dafb4;
}
  
.majorButton {
  font-size: 18px;
  position: relative;
  padding: 5px 10px;
  margin: 70px 0 20px 0;
  background-color: #fff;
  color:  #9DAFB4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;

  box-shadow: 0px 2px 4px #81858e;
}
  
.majorButton:hover {
  background-color: #5EC7DD;
  background-position: right center;
}
  
.majorButton.dark {
  color: #2d313a;
}

.balance{
  font-size: 15px;
}

.accountButtonContainer{
   width: 95%;
}

.accountButton {
  width: 100%;
  padding: 2px 4px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  border-radius: 15px;
  color: #9DAFB4;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  

  
}


button.accountButton.dark{
  color: #9DAFB4;
  cursor: pointer;
  background-color: #0e272e;
  
}
  
.detailsButton {
  display: none;
  font-size: 15px;
  position: relative;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  margin-left: 10px;

  }
 

  .sidebar {

    overflow-y: scroll; 
    scrollbar-width: none;
    scroll-behavior: smooth; 
  }
  .sidebar::-webkit-scrollbar {
    width: 0; 

  }
  
  .accountButtons {
   
    scrollbar-width: none;
  }
  
  .accountButtons::-webkit-scrollbar {
    width: 0; 
 
  }
  .accountButtons {


    overflow-y: auto; 
  }
  

  .share {
    padding: 10px;

   position: relative;
    
     right: 10px;
    top: 10px;
 
  }
  
  .item {  
 
    cursor: pointer;
    text-align: left;
    position: relative;
    left: 10px;
    font-size: 23px; 
    margin: 7px;
  
  }

 .textItem{
padding-left: 20px;
font-size: 18px; 

 }


 .item:hover{
    color: #5EC7DD; 
  }



  hr {
    border: 1px solid #9DAFB4; /* Set the color and border width */
  /* Set the height of the horizontal line */
  }
  
 
  
@media (max-width: 800px) {

  .sidebar {
    font-size: 8px;
    width: 180px;
  }

  .majorButton {
    font-size: 15px;
    position: relative;
    padding: 5px 7px;
    margin: 70px 0 10px 0;
  }
  
  .accountButtonActions {
    position: relative;
    padding:2px;
  }

  .accountButtonContainer {
    padding: 2px;
    margin: 2px;
    width: 90%;
    text-align: center;
  }
 
  .editButton {
    float: left;
    padding:4px;
    font-size: 12px;
  }

  .deleteButton {
    cursor: pointer;
    font-size: 17px;
    cursor: pointer;
  }

  .currency {
    display: none;
  }

  .item {
    font-size: 20px;
    padding: 10px;
  }

  .share {
    left:15px;
  }
}


@media (max-width:800px) {

  .detailsButton {
    left:20px;
    margin: 10px;
    display:inline-flex;
    align-items:center;
  }

  .balance{
    display: none;
  }

   .accountButtonContainer {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 2px;
  }

  .sidebar {
    width: 160px;
  }

  .accountButtons {
    width: 90%;
  }
  .share {
    left: -5px;
    padding: 1px;
 


  }
  .item {  

   left: 1px;
    font-size: 15px; 
    margin: 5px 0;
  
  }
  .textItem{
    padding-left: 10px;
    font-size: 15px; 
  
    
     }
}


@media (max-width:600px) {

  .majorButton {
    font-size: 20px;
    padding: 10px;
    left:150px;
    bottom:10px;
   
  }
  .currency {
    display: inline;
 
    
  }

  .balance1{
  font-size: 15px;
  }


  .titleList{
    display: none;
  }

  .accountButtons {
   
    display: flex;
    flex-direction:row;
    flex-wrap:wrap; 
    flex-basis: 250px;
    margin: 1px;
    font-size: 18px;
    text-align: center;
    height: 120px;
  }

  .accountButtonContainer {
  
    margin: 0 20%;
    flex-basis: calc(20% - 30px);
    padding: 10px;
    width: 300px;
    height:129px;
    display: flex;
    flex-wrap:wrap; 
    flex-grow: 1;
     font-size: 25px;
 
  }

  .sidebar{
    width: 100%;
    left: 0;
    top: 50px;
    height : 300px;
    margin: 0;  
    background-color: #EDF4F6;
  }

  

  .label{
    font-size:20px;
  }


  .editButton{
    padding: 2px;
    font-size: 18px;
  }

  .deleteButton{
    cursor: pointer;
    padding:  0 0 0 20px;
    font-size: 25px;
    cursor: pointer;
  }

  .share {
    position: fixed;
    top:300px;
    display: none;
  }

  .item {
    font-size: 20px;
  }

  .modalContent.dark{
    background-color:#8d919b
   }

  .carousel-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
  }

  .carousel-item {
    flex: 0 0 auto;
    margin: 5px; 
  }
  .carousel-container {

    scroll-behavior: smooth; 
}


}







.carousel-container {
  overflow-y: auto; 
  scrollbar-width: none; 
}

.carousel-container::-webkit-scrollbar {
  width: 0; 
}

.carousel-container::-webkit-scrollbar-track {
  background-color: transparent; 
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: transparent; 
}



@media (max-width:400px) {

 .accountButtonContainer {
  
    margin: 0;
  
  }



}