
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;500&display=swap');*{
  font-family: 'Ysabeau SC', sans-serif;

}



html {
  transition: 0.5s;
    overflow: hidden;
   
  }



  body {
    background-color:#EDF4F6;
    min-height: 100vh;
    transition: 0.5s;
    

  }




body.dark  {
  background-color: #0E272E;

 
}

.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 999999;
  transition: 0.5s;
  background-size: 200% auto;

}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: auto;
  transition: 0.5s;
  background-size: 200% auto;
  color: #3c4049;
 z-index: 999999999999;
}

.modalContent.dark,
.modalContent.dark select,
.modalContent.dark input[type="text"],
.modalContent.dark input[type="email"],
.modalContent.dark input[type="number"],
.modalContent.dark input[type="date"] {
  background-color: #b8bbc4;
}

.modalContent select,
.modalContent input[type="text"],
.modalContent input[type="number"],
.modalContent input[type="date"],
.modalContent input[type="email"],
.modalContent input[type="password"] {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #9ddd5e;
  border-radius: 10px;
  margin: 10px;
}

.modalContent select:focus,
.modalContent input[type="text"]:focus,
.modalContent input[type="number"]:focus,
.modalContent input[type="date"]:focus,
.modalContent input[type="email"]:focus,
.modalContent input[type="password"]:focus {
  border-color: #5ec7dd;
  outline: none;

  
}

.modalBtn{
  box-shadow: 0px 2px 4px #81858e;
  padding: 5px 10px;
  margin: 5px;
  font-size: 16px;


  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;

}

.modalBtn.dark{
  color: #fff;
  background-color: #455e63;
}

.modalBtn.light{
  background-color: #9dafb4;
}
button.modalBtn:hover {
  background-position: right center;
}

.modalButton {
  padding: 5px;
  font-size: 16px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  transition: 0.5s;
  box-shadow: 0px 2px 4px #81858e;
}





.modalButton.dark {
  background-color: #edf4f6;

}

.modalButton.light{
  color: #fff;
  background-color: #9dafb4;
}

.expandable-description {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandable-description.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}




.modalButtonLog {
  box-shadow: 0px 2px 4px #81858e;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #455e63;
  color: #9dafb4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  margin: 10px;
}
  
.modalButtonLog.dark{
  background-color: #455e63;
  color: #ffffff;
  box-shadow: 0px 2px 4px #81858e;
}

.modalButtonLog.light{
  background-color: #9dafb4;
  color: #455e63;
  box-shadow: 0px 2px 4px #81858e;
}
.modalContent.dark input[type="email"],
.modalContent.dark input[type="password"] {
  background-color: #b8bbc4;
}

.modalLogin form {
  display: flex;
  flex-direction: column;
}


.modalLogin form input {
  margin-bottom: 10px;
}

.modalLogin{
  padding: 40px;
}

.modalLogin h3 {
  text-align: center;
}

.futureBalance{
  font-size: 13px;
  padding: 5px 10px;
  position: absolute;
  margin: 60px 220px;
  right:  10px;
  width: 11%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  border-radius: 20px;
  border: 2px solid #a4781b;
  border-radius: 10px;
  transition: 0.5s;
  background-size: 200% auto;
}


  
.leterBalance{
   font-size: 18px;
}

.mainField.light .highlight {
  background-color: #edf4f6; 

  border-radius: 10px;
   transition: 0.5s;
}

.mainField.dark .highlight {
  background-color:#0e272e; 

  border-radius: 10px;
   transition: 0.5s;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gray;
  opacity: 0.5;
  /* z-index: 10; */
}



.flex-container{

 
  



  display: flex;

position: relative;
top:-20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 auto;
}


.firstt {


align-items:center;

  order: 0;
  flex: 1 1 auto;
 

  }
.secondt {
  /* margin: 0 auto; */
  padding: 10px;
padding-top: 40px;
  order: 0;
  flex: 1 1 auto;

 


}


@media (max-width: 4000px) {

  .flex-container{

padding-top: 100px ;
  }


  
}






.mainField {
position: relative;
top:40px;

  transition: 0.5s;
}
  
@media (max-width: 1930px) {


  .flex-container{

    padding-top: 20px ;
      }
    

  .secondt {
     margin: 0 auto; 
   
  
   
  
  
  }
}




@media (max-width: 1650px) {

  .flex-container{

    padding-top: 0 ;
   
      }
    

 
   

}


@media (max-width: 1530px) {

  .secondt {
  
    margin: 0 15%; 
  
   
  
  
  }
   

  
}

@media (max-width: 1350px) {

.flex-container{

  display: flex;


top:50px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 auto;
}
html {
 
  overflow-y:scroll;

}






}

@media (max-width: 1030px) {

 
  
  .secondt {
  
    margin: 0 15%; 
  
   
  
  
  }
  
    html {
 
      overflow-y:scroll;
    
    }
    
  }
  

  @media (max-width: 1030px) {

 
  
    .secondt {
    
      margin: 0 25%; 
    
     
    
    
    }
    
   
      
    }



  
  
  @media (max-width: 850px) {

 
  
    .secondt {
    
      margin: 0 25%; 
    
     
    
    
    }
  }  



  @media (max-width: 700px) {

 
  
    .secondt {
    
      margin: 0 15%; 
    
     
    
    
    }
  }  








  @media (max-width: 640px) {

 
.flex-container{

  display: flex;

position: relative;


   justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin: 0;
}


.firstt {

  margin: 0; 
align-items:center;

  order: 0;
  flex: 1 1 auto;
 

  }
.secondt {
  
  padding: 10px;
  margin: 0 20%; 
  order: 0;
  flex: 1 1 auto;

 


}

  
    
  }  

  @media (max-width: 600px) {

 
    .flex-container{

      display: flex;
    
    position: absolute;
    top:10px;
    
       justify-content:center;
      align-content:flex-start;
      align-items: flex-start;
      margin: 0;
    }
    
    
    .firstt {
    
   

     
     
    
      }
    .secondt {
   
      margin: 60px 0 0 5%;
      width: 100%;
     
    
    
    }
/* html {
 
        overflow-y:hidden;
      
      }
    */
    body {
    
        overflow-y:scroll;

      
      }
    
       body::-webkit-scrollbar {
  width:0px;



}


body::-webkit-scrollbar-thumb {
  background-color:#fff;
  border-radius: 10px;
 
}

    



    .mainField {
    position: relative;
    top:200px;
   
    
    
    }
      
        
      }  
    



      @media (max-width: 390px) {
.flex-container{


}



.secondt {
  
margin: 50px 0 0 0 ;




}}